<title>Login</title>
<div class="horizontal-center">
    <h1>Login</h1>
    <br>
    <form method="POST" action="/login">
        <h3>Email</h3>
        <input class="textbox" type="text" id="email" name="email">
        <br>
        <br>
        <h3>Password</h3>
        <input class="textbox" type="password" id="password" name="password">
        <br>
        <br>
        <input class="button" type="submit" id="submit" value="Login">
    </form>
</div>