<title>Register</title>
<div class="horizontal-center">
    <h1>Register</h1>
    <br>
    <form method="POST" action="/signup">
        <h3>Name</h3>
        <input class="textbox" type="text" id="name" name="name">
        <br>
        <br>
        <h3>Email</h3>
        <input class="textbox" type="text" id="email" name="email">
        <br>
        <br>
        <h3>Username</h3>
        <input class="textbox" type="text" id="username" name="username">
        <br>
        <br>
        <h3>Password</h3>
        <input class="textbox" type="password" id="password" name="password">
        <br>
        <br>
        <input class="button" type="submit" id="submit" value="Register">
    </form>
</div>