<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <h2>Sign Up</h2>
        <form method="POST" action="/signup">
            <h3>Name</h3>
            <input type="text" id="name" name="name">
            <h3>Email</h3>
            <input type="text" id="email" name="email">
            <h3>Username</h3>
            <input type="text" id="username" name="username">
            <h3>Password</h3>
            <input type="password" id="password" name="password">
            <input type="submit" id="submit" value="Sign up">
        </form>
    </body>
</html>