<title><%= @user.username %></title>
<div class="horizontal-center">
    <h1><%= @user.username %></h1>
    <br>
    <% wallets = @user.wallets.select { |wallet| wallet.restriction_type == "competitive" } %>
    <% wallet_value = @user.wallets.map { |wallet| wallet.usd_balance + (wallet.btc_balance * Bittrex.btc_price)}.sum %>
    <h3>Total Value: <%= wallet_value %></h3>
</div>