<title>Edit Wallet</title>
<div class="horizontal-center">
    <h1>Edit Wallet</h1>
    <br>
    <form method="POST" action="/wallets/<%= @wallet.id %>">
        <input type="hidden" name="_method" value="patch"> 
        <h3>Name</h3>
        <input class="textbox" type="text" id="name" name="name" value="<%= @wallet.name %>">
        <br>
        <br>
        <% if @wallet.restriction_type == "casual" %>
            <h3>BTC Balance</h3>
            <input class="textbox" type="text" id="btc_balance" name="btc_balance" value="<%= @wallet.btc_balance %>">
            <br>
            <br>
            <h3>USD Balance</h3>
            <input class="textbox" type="text" id="usd_balance" name="usd_balance" value="<%= @wallet.usd_balance %>">
            <br>
            <br>
        <% end %>
        <input class="button" type="submit" id="submit" value="Save">
    </form>
</div>