<!DOCTYPE html>
<html>
    <head>
        <title>Bitcoin Matrix</title>
    </head>
    <body>
        <h2>Welcome to Bitcoin Matrix</h2>
        <h3>Paper trading platform for Bitcoin</h3>
        <h3>Allows users to create an account and buy/sell Bitcoin using simulated money</h3>
        <form method="GET" action="/login">
            <input type="submit" id="login" value="Login">
        </form>
        <form method="GET" action="/signup">
            <input type="submit" id="login" value="Sign up">
        </form>
    </body>
</html>