<title>Bitcoin Matrix</title>
<div class="horizontal-center">
    <h1 >Welcome to Bitcoin Matrix</h1>
    <br>
    <h2 >Paper trading platform for Bitcoin</h2>
    <br>
    <br>
    <br>
    <h4 >Allows users to create an account and buy/sell Bitcoin using simulated money</h4>
    <br>
    <br>
    <br>
    <a href="/signup"><button>Register</button></a>
</div>