<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>

        <div class="wrapper">
            <header>
                <a href="/"><img class="logo" src="/images/btc-matrix-logo-white.png" alt="logo"></a>
                <nav>
                    <ul class="nav__links">
                        <% if logged_in? %>
                            <li><a href="/wallets">Wallets</a></li>
                            <li><a href="/transactions">Transactions</a></li>
                        <% end %>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                    </ul>
                </nav>
                <nav>
                    <% if logged_in? %>
                        <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>
                        <a href="/logout"><button>Logout</button></a>
                    <% else %>
                        <a href="/login"><button>Login</button></a>
                        <a href="/signup"><button>Register</button></a>
                    <% end %>
                </nav>
            </header>
            <br>
            <br>

            <%= yield %>

            <br>
            <br>
            <br>
            <br>
            <footer class="branding">
                <small>&copy; 2020 <strong>Bitcoin Matrix</strong></small>
            </footer>
        </div>
    </body>
</html>