<title>Leaderboard</title>
<div class="horizontal-center">
    <h1>Leaderboard</h1>
    <br>
    <% all_items = User.all.map do |user|
           wallets = user.wallets.select { |wallet| wallet.restriction_type == "competitive" }
           wallet_value = wallets.map { |wallet| wallet.usd_balance + (wallet.btc_balance * Bittrex.btc_price)}.sum
           {user: user, wallet_value: wallet_value}
    end %>
    <% all_items.sort_by { |item| item[:wallet_value].to_f }.reverse.each_with_index do |sorted_item, i| %>
        <h2><%= i+1 %>. <%= sorted_item[:user].username %></h2>
        <h3>Total Value: <%= sorted_item[:wallet_value] %></h3>
        <br>
    <% end %>
</div>